body{color:#414141;}
h2{font-weight:bold;text-transform:none;}
h2.section_title_white{margin-bottom:0;}
h3{clear:both;text-transform:none;}
p{font-size:15px;}
ul.bullets li:before{font-family:FontAwesome;color:#454545;content: "\f138";margin-left:-1.5em;padding-right:.5em;}
#mc_embed_signup{clear:left;}
#trueHeader #logo{background:url(../images/ofs_ceq.png) top left no-repeat;min-height:70px;}
.accordion-container{background-color:#fbfbfb;border:1px solid #ccc;border-top-left-radius:3px;border-top-right-radius:3px;margin-bottom:5px;padding:10px 15px;}
.accordion-container.gov-wide{background:none;border:none;margin:0;padding:0;}
.accordion-container.gov-wide h4{margin-top:10px;}
.accordion-container.gov-wide .collapse, .accordion-container.gov-wide .in{background-color:#fbfbfb;border:1px solid #6b798f;border-top-left-radius:3px;clear:both;margin-bottom:5px;padding:10px 15px;}
.accordion-container.gov-wide .collapse h4, .accordion-container.gov-wide .in h4{margin:10px 0;font-size: 18px;font-style: normal;line-height: 25px;text-transform: none;}
.accordion-container .header{font-size: 22px;line-height: 25px;margin-bottom: 20px;font-style: normal;text-decoration:none;}
.accordion-container .header.gov-wide{background-color:#6b798f;color:#fff; font-size: 13px;font-weight: bold;float: right;margin:0;padding:3px 8px;text-transform: uppercase;}
.accordion-container .header.gov-wide:hover{background-color:#4A6082;}
.accordion-container.carbon:hover{background-color:rgba(178, 142, 87, .3);}
.accordion-container.carbon a.header{color:#414141; display:inline-block; font-size:16px; line-height:normal; margin-left:1em;margin-top:-1.1em;margin-bottom:0;}
.accordion-container.carbon a.header:hover{text-decoration: underline;}
.accordion-container.carbon{padding-left:30px;}
.accordion-container.carbon::before{font-family:FontAwesome;color:#B28E57;content: "\f055";margin-left:-2.1em;padding-left:1em;}
.accordion-container.carbon p  {margin-left:1.6em;}
.accordion-container.carbon ul {margin-left:5em;}
.agency_select{float:right;padding-top:8px;}
.archive hr{margin:3em 0;}
.backtotop{padding:10px 0 0;text-align:right;}
.backtotop a:before{font-family:FontAwesome;color:#454545;content: "\f139";margin-left:-1.5em;padding-right:.5em;}
.callout{background-color:#fbfbfb;border:1px solid #ccc;float:right;margin:0 0 10px 10px;padding:20px;width:25%;}
.callout img{width:100%;}
.callout h3 a{font-size:18px;text-decoration:none;}
.cbp-wrapper{visibility:visible;}
.chart-thumbs{display:inline-block;width:100%;}
.chart-thumbs a{border:1px solid #ccc;display:inline-block;margin:5px;min-height:185px;padding:10px;position:relative;text-align:center;width:130px;vertical-align:top;}
.content_fullwidth .chart-thumbs a:hover{background-color:#efefef;border-color:yellowgreen;}
.chart-thumbs a img{border:1px solid #ccc;width:100%;}
.content_fullwidth .chart-thumbs a{text-decoration: none;}
.clear{clear:both;}
.container{margin-bottom:10px; margin-top:10px;}
.container.mailchimp{display:none;}
.content_fullwidth a{color:#454545;text-decoration:underline;}
.content_fullwidth a:hover{color: #6b798f;text-decoration: none;}
.content_fullwidth li{padding-bottom:.75em;}
.content_fullwidth ul{padding-left:2.5em;}
.download{background-color:#47556b;margin-left:19em;padding:1em 1em 1em 3em;}
.download.ca{margin-left:14em;}
.download:before{content: "\f019";font-family:FontAwesome;font-size:20px;margin-left:-1.5em;padding:0 .5em 0 0;}
.features_sec39{padding-top:1em;}
.features_sec39 .one_half{text-align:left;}
.features_sec39 h4 {text-transform:none;}
.features_sec39 h2.section_title_drakgray {font-size:27px;line-height: 35px;margin-bottom: 40px;font-style: normal;font-weight: bold; text-transform: none;}
.features_sec39 .rightsection{background-image:url(../images/sidebar_line.png);}
.features_sec39 .rightsection ul{margin-left:30px;margin-top:15px;}
.features_sec39 .rightsection li.icon{height:20px;width:20px;}
.features_sec39 .rightsection li.icon i{font-size:15px;height:20px;line-height:19px;width:20px;}
.features_sec39 .rightsection h3{font-size:18px;}
.features_sec39 .rightsection ul:hover i{background-color:#272727;}
.fed-progress{float:right;width:400px;margin:0 4em;}
.footer1 {background-color: #425363;}
.footer1, .footer1  a{color:#fff;text-decoration:none;}
.footer1 li{font-weight:300;}
.fsp-header{display:inline-block;position: relative;width:100%;}
.fsp-header h2{color:#fff; display:inline-block; font-size: 300%; font-weight: 300;margin:4.5em 0 0 0;padding:10px;}
.fsp-header img{float:left;margin-right:15px;width:4%;}
.fsp-header .title{float:left; position: relative; width:calc(57% - 40px)}
.fsp-header.carbon {background: no-repeat center center url("../images/fsp-carbon-solar-array.jpg");}
.fsp-header.carbon h2{background-color:rgba(178, 142, 87);}
.fsp-icons{display:inline-block;width:70%;}
.fsp-icons ul{clear:both;}
.fsp-icons li{display:inline-block;float:left;font-family: 'Raleway', sans-serif; font-size:150%; font-weight:600; line-height:normal; width:26%; padding:3%; position:relative; text-align:center;}
.fsp-icons li img{height:auto;width:100%;}
.fsp-icons a{text-decoration: none;}
.fsp-icons a:hover{text-decoration: underline;}
.fsp-carbon a, .fsp-procurement a, .fsp-workforce a, .fsp-carbon a:hover, .fsp-procurement a:hover, .fsp-workforce a:hover {color:#B28e57;}
.fsp-carbon:hover, .fsp-procurement:hover, .fsp-workforce:hover {background-color:rgba(178,142,87,0.15);}
.fsp-fleet a, .fsp-emissions a, .fsp-justice a, .fsp-fleet a:hover, .fsp-emissions a:hover, .fsp-justice a:hover {color:#0064BC;}
.fsp-fleet:hover, .fsp-emissions:hover, .fsp-justice:hover {background-color:rgba(0,100,188,0.15);}
.fsp-buildings a, .fsp-resilience a, .fsp-partnerships a, .fsp-buildings a:hover, .fsp-resilience a:hover, .fsp-partnerships a:hover {color:#30804C;}
.fsp-buildings:hover, .fsp-resilience:hover, .fsp-partnerships:hover {background-color:rgba(48,128,53,0.15);}
.go-btn{font-size:16px;font-weight: 800;}
.goal{border:10px solid #ccc; border-radius: 1em; color:#B28e57;font-size:130%;font-weight:bold;line-height:normal; margin-top:1em;padding:2em 1em;text-align: center;}
.goal-txt:first-of-type {border-bottom:1px dashed #ccc;padding-bottom:2em;}
.goal-txt:last-of-type {padding-top:2em;}
.goal-txt span{color:#926725;display:block;font-size:220%;}
.latest_works{background-image:none;}
.latest_works a{color:#fff;}
.latest_works h3{color:#fff;}
.latest_works p{color:#fff;}
.list{font-size:14px;}
.left{float:left;padding:0 2em 1em 0;}
.left-rail{float:left;margin-top:2em;width:60%;}
.logo{width:70%;}
.menu_main .navbar-default .navbar-nav > .active > a{color:#000;background-color:#efefef;}
.mc_signup{background-color:#fbfbfb;border:1px solid #425363;border-radius:1em;display:inline-block;margin-bottom:2em;padding:3em 2em;width:calc(100% - 4em);}
.mc_signup .logo{width:100px;float:left;}
.mc_signup .form-wrapper{clear:left;display:inline-block;margin-left:50px;width:calc(100% - 150px);}
.mc_signup input{color:#425363;padding:.75em;}
.mc_signup input.email{border:1px solid #425363;border-radius:1em;width:75%;}
.mc_signup .button {border:1px solid #425363;background-color:#425363;border-radius:1em;color:#fff;font-weight:bold;padding:.75em 2.5em;}
.nav-inpage{background-color:#efefef;padding:10px;}
.nav-inpage h3{color:#926725;margin-bottom:.5em;}
.nav-inpage ul{padding-left:1.8em;}
.nav-inpage li{padding:3px 0px}
.nav-inpage li a{color:#272727;}
.nav-inpage li a:hover, .nav-inpage li.active a{border-bottom:3px solid #B28E57;}
.news{text-align:left;}
.news li{border-bottom:1px solid #ccc;padding:1em;}
.noclear{clear:none;}
.features_sec39 .limage{margin-top:0;}
.one_full.agency h3{clear:both;padding-top:40px;}
.one_full.agency .scorecard-wrapper h3, .one_full.agency .plan-wrapper h3{clear:none;font-weight: 600;padding-top:1em;}
.one_full .callout p{margin-bottom:10px;}
.one_full h2, .one_full p{margin-bottom:20px;}
.one_full.outline ol li{list-style-type:lower-alpha;margin-left:3em;}
.one_full.outline ol li ol li{list-style-type:lower-roman;margin-left:3em;}
.one_full table{border-top:1px solid #ccc;width:100%;}
.one_full table td, .one_full table th{border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;padding:.5em;}
.one_full table th{background-color:#efefef;}
.one_half img{height:auto;width:100%;}
.one_half p{text-align:left;}
.one_half .performance-col{background-color:#6b798f;color:#fff;display:inline-block;margin-top:1em;min-height:34em;padding:2em;width:90%;} 
.one_half .performance-col h3, .scorecard-wrapper h3, .plan-wrapper h3{color:#fff;}
.one_half .performance-col a, .scorecard-wrapper .download a, .plan-wrapper .download a{color:#fff;font-weight:600}
.one_half .performance-col a:hover, .scorecard-wrapper a:hover, .plan-wrapper a:hover{color:yellowgreen;}
.project{width:60%;}
.project img{width:100%;}
.project .elements{float:right;padding-left:2em;width:10%;}
.project h2{padding-top:1em;margin-bottom:0;}
.project .location{margin-top:0;padding-top:0;}
.right-rail{float:right;width:30%;padding:20px;}
.right{float:right;}
.scorecard-wrapper, .plan-wrapper{background-color:#6b798f;color:#fff;display:inline-block;margin:2% 0;padding:2%; width:96%;}
.scorecard, .plan{background-color:#fff;border:3px solid #ccc;margin:0;float:left;position:relative;margin-right:2em;}
.scorecard:hover, .plan:hover{border-color:yellowgreen;}
.scorecard a:before, .plan a:before{background-color:#ffffff;bottom:0px;border-radius:50%;color:green;content: "\f00e";font-family:FontAwesome;font-size:30px;padding:.5em;position:absolute;right:0px;}
.plan a:before{content: "\f019";}
.scorecard:hover a:before, .plan:hover a:before{color:yellowgreen;}
.scorecard-wrapper a, .plan-wrapper a{color:#fff;}
.searchform{float:right;padding-top:5px;}

.flexslider{margin-bottom:0;}
.slides, .slides li{position:relative;}
.slides li .caption-text {font-family: 'Raleway', sans-serif;position:absolute;}
.slides li .caption-text h3{color:#fff;font-size:30px;font-weight:400;line-height:normal;text-shadow:rgba(0, 0, 0, 0.5) 0px 2px 0px;text-transform: uppercase;}
.slides li .caption-text p{color:#fff;font-size:14px;line-height:1.7em;margin-bottom:1em;text-shadow: 0 0 0 0;}
.slides li .caption-text .slide-btn{margin-top:2em;}
.slides li .caption-text .slide-btn a{background-color:rgba(0,0,0,.6);color: #fff;font-size: 16px;font-weight: normal;text-align: center;text-transform: uppercase;padding: 12px 25px;border: 3px solid #fff;}
.slides li .caption-text.ggi .slide-btn a{background-color:rgba(0,0,0,.2); border-color:#00a871;}
.slides li .caption-text .slide-btn a:hover{background-color:#fff;color:#000000;}
.slides li .caption-text.ggi{right:0;top:40px;margin:2em;width:40%;}
.slides li .caption-text.ggi p{color:rgba(255, 255, 255, .9);font-size:18px;margin-top:1em;}
.slides li .caption-text.ggi img{width:100%;}
.slides li .caption-text.potus{left:0;top:0;margin:2em;width:35%;}
.slides li .caption-text.data{top:8em; right:10em;}
.flex-control-nav{position:absolute;bottom:.5em;left:0;margin:2em;width:auto;z-index:2;}
.flex-control-nav li{background-color:#fff;border:1px solid #fff;cursor: pointer;font-weight:bold;padding:.25em .75em;}
.flex-control-nav li.flex-active, .flex-control-nav li:hover{background:none;border:1px solid #fff;color:#fff;}
.flex-direction-nav{display:none;}

.sip{clear:both;margin:0 auto;width:1006px;}
.sip h2, .sip h3{margin-bottom:0;padding-top:50px;}
.sip h2.notop, .sip h3.notop{padding-top:0px;}
.sip .tableauPlaceholder{border:3px solid #ccc;}
.sky-form header{font-size:27px;font-weight:bold;text-transform:none;}
.source{background-color: #efefef;float:none;font-size:12px;margin-top:.5em;padding:2%;width:96%;}
.source p{font-size:12px;margin-bottom:0px;}
.tableauPlaceholder{clear:both;margin-top:2px;position: relative;}
.top-performers{background-color: #6b798f;color: #fff;float:left;margin-top:.5em;padding:3%;width:52%;}
.top-performers h4{color:#fff;margin:10px 0;font-size: 18px;font-style: normal;line-height: 25px;text-transform: none;}
.top-performers a{color:#fff;}
.top-performers ol{padding-left:1em;margin-bottom:0;}
.tp-caption.slider_but8 a{background-color:rgba(0,0,0,.2);}
.twitter:before{content: "\f081";font-family:FontAwesome;font-size:40px;display:none;}
.backtotop a{font-size:80%;text-decoration:none;text-transform:uppercase;}

@media only screen and (max-width: 767px) and (min-width: 480px) {
	#trueHeader #logo {background-size:contain;}
	.agency_select{float:none;}
	.callout{float:none;width:80%;}
	.logo{width:100%;}
  .slides li .caption-text.potus{width:80%;}
}
@media only screen and (max-width: 479px) {
	#trueHeader #logo {background-size:contain;min-height:40px;}
	.callout{float:none;width:80%;}
    .flexslider{display:none;}
	.logo{margin-bottom:0;width:100%;}
}