/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


.slider { width: 100%;}
#carousel li {margin-right: 5px;}
#carousel img {display: block; opacity: .5; cursor: pointer;}
#carousel img:hover {opacity: 1;}
#carousel .flex-active-slide img {opacity: 1; cursor: default;}

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

.slider.nosidearrows .flex-direction-nav {
	display: none;
}
.slider.nosidearrows .flex-control-nav li {
	margin: 0 3px;
}

.slider.nosidearrows_two .flex-direction-nav {
	display: none;
}
.slider.nosidearrows_two .flex-control-nav li {margin: 0 3px;}
.slider.nosidearrows_two .flex-control-paging li a {background: #fff;}
.slider.nosidearrows_two .flex-control-paging li a:hover { background: #fff; background: #272727; }
.slider.nosidearrows_two .flex-control-paging li a.flex-active { background: #fff; background: #272727; }



/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
/*.flexslider .slides img {width: 100%; display: block;}*/
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 50px; position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

.diamond{
     width:390px; 
     height:390px; 
     background: #fc4242;
	 margin: 262px 0 0 584px;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);
     -webkit-transform-origin: 0 100%;
     -moz-transform-origin: 0 100%;
     -ms-transform-origin: 0 100%;
     -o-transform-origin: 0 100%;
     transform-origin: 0 100%;
}

.content_div {
	color: #fff;
	width: 250px;
	height: 390px;
	margin: 0 auto;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.content_div .client_img {
	width: 130px;
	height: 130px;
	border-radius: 100%;
	margin: 20px auto 20px auto;
	background: url(../../images/people-img1.jpg) no-repeat center top;
}
.content_div .client_img.two {
	background: url(../../images/people-img2.jpg) no-repeat center top;
}
.content_div .client_img.three {
	background: url(../../images/people-img3.jpg) no-repeat center top;
}
.content_div .client_img.four {
	background: url(../../images/people-img4.jpg) no-repeat center top;
}

.content_div h2 {
	color: #fff;
	font-weight: 300;
	margin-bottom: 20px;
	padding-bottom: 8px;
	border-bottom: 1px solid #fd6c6c;
}

/* Direction Nav */
.flex-direction-nav {*height: 0; padding-top: 20px;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: 0px; background: url(pre-arrow.png) no-repeat center top; font-size: 0px; color: #fff;}
.flex-direction-nav .flex-next { right: 0px; text-align: right; background: url(next-arrow.png) no-repeat center top; font-size: 0px; color: #fff;}
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; }
.flex-direction-nav a.flex-next:before  { }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; display: none; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #fff; background: #d3d3d3; cursor: pointer; text-indent: -9999px; border-radius: 100%; }
.flex-control-paging li a:hover { background: #fff; background: #fc4242; }
.flex-control-paging li a.flex-active { background: #fff; background: #fc4242; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}



@media only screen and (min-width: 1000px) and (max-width: 1169px){
	
.diamond{
	margin-left: 500px;
}

	
}

@media only screen and (min-width: 768px) and (max-width: 999px){

.diamond{
	margin-left: 374px;
}

	
}


@media only screen and (min-width: 480px) and (max-width: 767px){

.diamond{
	margin-left: 230px;
}



	
}

@media only screen and (max-width: 479px){


.diamond{
	margin-left: 152px;
}


}
