.flexslider{background-color:#efefef;margin:0 auto;width:1240px;}
.flexslider_wrapper{background-color:#e0e5ef;}
.slides, .slides li{position:relative;}
.slides li .caption-text {font-family: 'Raleway', sans-serif;position:absolute;}
.slides li .caption-text h3{color:#fff;font-size:50px;font-weight:400;line-height:normal;text-transform: none;text-shadow: 0 0 0 0;}
.slides li .caption-text p{color:#fff;display:block;font-size:18px;line-height:1.7em;margin-bottom:1em;text-shadow: 0 0 0 0;}
.slides li .caption-text p a {text-decoration: underline;}
.slides li .caption-text .slide-btn{margin-top:2em;}
.slides li .caption-text .slide-btn a{background-color:rgba(0,0,0,.6);clear:left;color: #fff;font-size: 16px;font-weight:500;text-align: center;text-transform: uppercase;padding: 12px 25px;border: 3px solid #fff;}
.slides li .caption-text .slide-btn a:hover{text-decoration:none;}
.slides li .caption-text .slide-btn a:hover{background-color:#fff;color:#000000;}
/**Federal Building Performance Standard**/
.slides li .caption-text.fbps{background-color:rgba(0, 53, 111, .90);border:none; color:#fff;width:40%;}
.slides li .caption-text.fbps{top:2em; right:2em;padding:2em;} 
.slides li .caption-text.fbps h3, .slides li .caption-text.fbps p{color:#fff;} 
.slides li .caption-text.fbps p{color:#e0e5ef;} 
.slides li .caption-text.fbps p a{color:#e0e5ef;font-weight:bold;}
.slides li .caption-text.fbps .slide-btn a{background-color:#ff1c34;color:#fff;border:none;}
.slides li .caption-text.fbps .slide-btn a:hover{background-color:#b7d7fc;color:#3c59b7;}
/**Federal Sustainability Plan**/
.slides li .caption-text.fsp .slide-btn a{background-color:#1b78be; border-color:#1b78be;}
.slides li .caption-text.fsp .slide-btn a:hover{background-color:#3299de; border-color:#3299de;color:#fff;}
.slides li .caption-text.fsp{background-color:rgba(1, 35, 98, .8);right:0;bottom:0;margin:2em;padding:2em;width:40%;}
.slides li .caption-text.fsp h3{font-size:55px;text-transform: none;}
/**Clean Transportation Future**/
.slides li .caption-text.transport .slide-btn a{background-color:#3478a5; border-color:#3478a5;}
.slides li .caption-text.transport .slide-btn a:hover{background-color:#3299de; border-color:#3299de;color:#fff;}
.slides li .caption-text.transport{background-color:rgba(7, 45, 75, .8);right:0;bottom:0;margin:2em;padding:2em;width:40%;}
.slides li .caption-text.transport h3{text-transform: none;}
/**Scope  3 Emissions**/
.slides li .caption-text.fed-emissions .slide-btn a{background-color:#b28e2f; border-color:#b28e2f;}
.slides li .caption-text.fed-emissions .slide-btn a:hover{background-color:#3299de; border-color:#3299de;color:#fff;}
.slides li .caption-text.fed-emissions{background-color:rgba(0, 72, 132, .9);right:0;bottom:0;margin:2em;padding:2em;width:40%;}
.slides li .caption-text.fed-emissions h3{text-transform: none;}


.flex-control-nav{position:absolute;bottom:.5em;left:0;margin:2em;width:auto;z-index:2;}
.flex-control-nav li{background-color:#fff;border:1px solid #fff;cursor: pointer;font-weight:bold;padding:.25em .75em;}
.flex-control-nav li.flex-active, .flex-control-nav li:hover{background:none;border:1px solid #fff;color:#fff;}
.flex-direction-nav{display:none;}



@media only screen and (max-width: 1200px) and (min-width:768px) {

/**New slides should be adjusted for various screen sizes**/
  .slides li .caption-text.fbps, .slides li .caption-text.fsp, .slides li .caption-text.transport, .slides li .caption-text.fed-emissions {top:10px;left:10px;bottom:10px; margin:2em; padding:2em; width:auto;}
  .flex-control-nav{margin:10px;}
  .flexslider{width:auto;}
}
	
@media only screen and (max-width: 768px) {

	.slides {display: none;}
	.flex-control-nav{display: none;}
	.flexslider {display: none;}
}
